.body h1 {
    color: #c96800;
}
.results h1{
    color: #CDCDCD;
}
.results li{
    color: rgb(0, 170, 255);
}

.customdivider {
    border: none;          /* Remove default border */
    height: 2px;          /* Height of the line */
    background-color: #000000; /* Color of the line */
    
    
         /* Spacing above and below */
  }

.overlapContainer{
    background-color: rgb(180, 40, 40);
    height: 10px;
}
.backgroundCont{
    height: 100%;
    width: 100%;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}