.form
{
    
}

.form input{
    width: 100%;
}

.searchContainer{
    display: flex;
    height: 20%;
    width: 80%;
    max-width: 500px;
    overflow: visible;
    flex-direction: column;
    padding-bottom: 10px;

    
}
.container{
    
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    background-color: '#142433';
    
}


  .form-control.custom-placeholder::placeholder {
    color: red !important; /* Custom color for specific scenarios */
    font-size: large;
  }